<h1>New Exercise</h2>
<%= simple_form_for @exercise do |f| %>
	<%= f.input :name %><br>
	<%= f.input :category %><br>
	<%= f.input :description %><br>
	<%= f.input :rating %>
	<%= f.button :submit %>
<% end %>